# Ignorar pasta de compilados (Maven)
target/

# Ignorar arquivos do VS Code e Eclipse
.vscode/
.settings/
.classpath
.project
bin/

# Ignorar arquivos temporários do sistema
.DS_Store
Thumbs.db

# Ignorar logs
*.log

autos_infracao/